@model BookShelf.Models.ViewModels.ProductVM;

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 ">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3 mt-4">


                @* <div asp-validation-summary="ModelOnly"  ></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Title" type="text" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Product.Title">
                        Title <span class="text-danger">*</span>
                    </label>
                    
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Product.Description" type="text" class="form-control border-0 shadow"></textarea>
                    <label class="ms-2" asp-for="Product.Description">
                    Description <span class="text-danger">*</span>
                    </label>

                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.ISBN" type="text" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Product.ISBN">
                    ISBN
                    <span class="text-danger">*</span>
                    </label>
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Author" type="text" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Product.Author">
                    Author
                    <span class="text-danger">*</span>
                    </label>

                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.ListPrice" type="number" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Product.ListPrice">
                    ListPrice
                    <span class="text-danger">*</span>
                    </label>

                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price" type="number" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Product.Price">
                    Price
                    <span class="text-danger">*</span>
                    </label>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price50" type="number" class="form-control border-0 shadow" />
                   
                    <label class="ms-2" asp-for="Product.Price50">
                        Price 50
                        <span class="text-danger">*</span>
                    </label>

                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.Price100" type="number" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Product.Price100">
                    Price 100
                    </label>
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>

                 <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" type="number" class="form-control border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    
                    </select>
                    <label class="ms-2" asp-for="Product.CategoryId">
                        Category Name
                    </label>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>



                <div class="form-floating py-2 col-12">
                    <input asp-for="Product.ImageUrl" type="file" class="form-control border-0 shadow" />
                    <label class="ms-2" asp-for="Product.ImageUrl">
                        Product Image
                    </label>
                    
                </div>









                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control" style="width:150px">Create</button>

                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="List" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>


        </form>



    </div>

</div>



@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }


}
